<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Contact Details</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <img
        class="card-img"
        src="https://www.daiict.ac.in/sites/default/files/styles/banner_image/public/banner-section-images/banner7_3.jpg?itok=Yi5oilhw"
        height="456"
        alt="Card image"
      />
      <div
        class="
          card-img-overlay card-inverse
          text-white
          social-profile
          d-flex
          justify-content-center
        "
        style="border-radius: 15px"
      >
        <div class="align-self-center">
          <img
            src="https://www.daiict.ac.in/themes/daiict/images/logo-new.png"
            class="img-circle"
            width="100"
          />
          <br />
          <br />
          <h4 class="card-title">Student Placement Cell</h4>
          <h6 class="card-subtitle">
            Dhirubhai Ambani Institute of Information and Communication
            Technology <br />Near Reliance Chowkdi, Gandhinagar - 382007
            <br />Gujarat, India
          </h6>
          <!-- <p class="text-white"> Welcome to Placement and Training cell of DAIICT Gandhinagar.  </p>-->
          <small class="text-muted p-t-30 db">Phone</small>
          <h6>+91-999-9999999</h6>
          <small class="text-muted p-t-30 db">Placements Related Queries</small>
          <h6>spc@daiict.ac.in</h6>
        </div>
      </div>
    </div>
  </div>
</div>
